.post-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-list-link, .post-list-link:hover, .post-list-link:focus {
    text-decoration: none; /* This ensures no underline appears at all */
    color: inherit; /* This makes the link use the color of its text by default */
}

.post-list-item {
    width: 30vw; /* Width is 25% of the viewport width */
    height: 30vw;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    font-size: 19px;
    margin: 5px; /* Space between squares */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds depth with shadow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box; /* Includes padding and border in the width and height */
    background-color: var(--content-background);
    border: 3px solid black;
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.post-list-item {
    transition: transform 0.3s ease;
}

.post-list-title {
    color: var(--link-color);
    text-decoration: none;
    margin-top: 0;
    text-align: center;
    font-size: 0.9em;
}

.post-list-pub {
    text-decoration: none;
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: 0.9em;
}

.post-list-item:hover {
    transform: scale(1.025); /* Slightly enlarges the post on hover */
    background-color: var(--link-color); /* Changes background on hover */
    color: var(--content-background);
}

.post-list-item:hover {
    text-decoration: none;
    transform: scale(1.025); /* Slightly enlarges the post on hover */
    background-color: var(--link-color); /* Light grey background on hover */
    color: var(--content-background);
}

.post-list-item:hover .post-list-title {
    color: var(--content-background); /* Ensures text color is changed on hover */
    font-weight: 600;
    text-decoration: none; /* Reaffirms that no underline should appear */
}