:root {
    --main-color: #44475A;
    --sidebar-color: #44475A;
    --header-color: #0D1B2A;
    --content-background: #0D1B2A;
    --link-color: #FF5555;
    --selected-color: #6272A4;
    --text-color: rgba(242, 243, 245, 0.88);
    --text-bold-color: #f8f8ff;
    --text-quote-color: #5E6069;
    --header-height: 70px;
    --header-height-plus: 75px;
}

body {
    display: flex;
    padding-top: 95px;
    padding-right: 1px;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: var(--main-color);
}

/* Ensures the header spans the entire width of the page */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Make header fixed to the top */
    width: 100%; /* Full width */
    height: 60px; /* Define a fixed height for the header */
    background-color: var(--header-color);
    color: white;
    padding: 0 20px; /* Padding on the sides */
    z-index: 1001; /* High z-index to keep header above other content */
}

.hamburger-menu {
    cursor: pointer;
    background: none;
    border: none;
    color: white; /* White color for visibility against dark header */
    font-size: 30px; /* Icon size for better touch and clickability */
    padding: 15px 15px; /* Sufficient padding around the icon */
    margin-right: 20px; /* Right margin to keep the icon from the edge */
    z-index: 1002; /* Ensures the menu icon is above the header's other content */
}

/* Ensures the menu expands downwards from the header */
.menu {
    display: none;
    position: fixed;  /* Keeps the menu fixed during scrolling */
    top: 63px;        /* Adjust this value based on your header's height */
    right: 0px;      /* Aligns the menu to the right edge of the screen */
    background-color: #f9f9f9;  /* Light background for the menu */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Adds depth with shadow */
    z-index: 1000;    /* Ensures the menu is above other content */
    /*padding: 10px 0;  !* Top and bottom padding *!*/
    /*border-radius: 5px;  !* Optional: Adds rounded corners for aesthetics *!*/
}

.menu a {
    display: block;
    padding: 10px 20px;  /* Adds padding inside each link */
    text-decoration: none;
    color: #333;  /* Dark text for readability */
    border-bottom: 1px solid #dddddd;  /* Separator lines */
    text-align: center;  /* Centers text in each link */
}

.menu a:last-child {
    border-bottom: none;  /* Removes border from the last link */
}


.menu a:hover {
    background-color: var(--link-color); /* Hover effect */
}

@media (max-width: 600px) {
    .hamburger-menu {
        font-size: 24px;
    / / Slightly smaller icon on mobile
    }

    .menu a {
        padding: 8px 15px;
    / / Smaller padding on mobile font-size: 14 px;
    / / Slightly smaller text on mobile
    }
}

@media (max-width: 590px) {
    body {
        margin: 4px;
        padding-top: var(--header-height-plus);
        padding-right: 1px;
        padding-left: 1px;
    }
}

h1 {
    font-weight: 400;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc; /* Default style for unordered lists */
}

hr.rounded {
  border-top: 3px solid white;
  border-radius: 2px;
}