---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">

    <nav id="sidebar">
        <a href="/">← Home</a>
        <h1>About</h1>
        <ul id="toc"></ul>
    </nav>

    <main>
        <section class="intro">
            <br>
            <img src="https://storage.googleapis.com/langkilde-se-images/langkilde.jpg" alt="Daniel Langkilde" class="intro-image">
            <h2 id="daniel-langkilde">Daniel Langkilde</h2>
            <p>
                In my heart, I’m a programmer. By training, I’m a mathematician. And I’m a manager of a software company by
                profession. My most significant competitive advantage is that I am relentlessly hardworking, addicted to
                learning, and profoundly optimistic.
            </p>
            <h2 id="professional-bio">Professional Bio</h2>
            <p>
                Daniel Langkilde is an experienced entrepreneur and machine learning expert. He started his career as
                Team Lead for Collection & Analysis at <a href="https://www.recordedfuture.com/" target="_blank">Recorded Future</a>.
                Since 2018 he is co-founder and CEO of <a href="https://www.kognic.com/" target="_blank">Kognic</a>.
                Kognic provides the most productive annotation platform for sensor-fusion data.
                Daniel earned his M.Sc. in Engineering Mathematics at Chalmers University of Technology, where he also served as
                President of the Student Union and a Member of the Board of Directors.
                He has been a Visiting Scholar at both MIT and UC Berkeley.
            </p>
            <h2 id="personal-bio">Personal Bio</h2>
            <p>
                I share my life with Louise and our son Isak. We live in <a href="https://visitsweden.com/where-to-go/southern-sweden/goteborg/things-do-gothenburg/" target="_blank">Göteborg, Sweden</a>.
                I’ve previously lived in San Francisco, Shanghai, and Boston. I’m fluent in Swedish and English and speak basic Mandarin.
                I enjoy cooking, photography, running, and coding.
            </p>
            <h2 id="links">Links</h2>
            <ul>
                <li><a href="https://linkedin.com/in/daniellangkilde" target="_blank">LinkedIn - daniellangkilde</a></li>
                <li><a href="https://github.com/dlangk" target="_blank">GitHub - dlangk</a></li>
            </ul>
        </section>
        <div class="bottom-spacer"></div>
    </main>

</BaseLayout>