---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---

<BaseLayout title="Home">

  <nav id="sidebar" class="landing-sidebar">
    <h1>Daniel Langkilde</h1>
    <ul id="toc">
      <li><a href="/about">About</a></li>
      <li><a href="/investments">Investments</a></li>
      <li><a href="/memes">Memes</a></li>
      <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS Feed" />
    </ul>
  </nav>

  <main>
    <!-- Post List Section -->
    <section class="post-list">
      <h1>Writings</h1>
      <ul>
        {posts.map(post => (
            <li>
              <a href={`/blog/${post.slug}`}>
                {post.data.title} <small>({post.data.pubDate})</small>
              </a>
            </li>
        ))}
      </ul>
    </section>
    <div class="bottom-spacer"></div>
  </main>

</BaseLayout>