{% extends "base.html" %}

{% block content %}

<div class="post post-content">
    <p></p>
    <img src="../static/images/langkilde.jpg" alt="Daniel Langkilde">
    <h1>Daniel Langkilde</h1>
    <p>In my heart, I’m a programmer. By training, I’m a mathematician. And I’m a manager of high-tech companies by
        profession. My most significant competitive advantage is that I am relentlessly hardworking, addicted to
        learning, and profoundly optimistic.</p>
    <h2>Bio</h2>
    <p>I live in Göteborg, Sweden, and share my life with Louise, my son Isak and our dog Alice. I’ve previously lived
        in San Francisco, Shanghai, and Boston. I’m fluent in Swedish and English and speak decent Mandarin and basic
        French. I enjoy cooking, photography, running, and coding.</p>
    <h2>Find me here</h2>
    <ul>
        <li><a href="https://linkedin.com/in/daniellangkilde" target="_blank">LinkedIn - daniellangkilde</a></li>
        <li><a href="https://twitter.com/langkilde" target="_blank">Twitter - langkilde</a></li>
        <li><a href="https://instagram.com/daniel.langkilde" target="_blank">Instagram - daniel.langkilde</a></li>
        <li><a href="https://facebook.com/daniel.langkilde" target="_blank">Facebook - daniel.langkilde</a></li>
        <li><a href="https://github.com/langkilde" target="_blank">GitHub - langkilde</a></li>
        <li><a href="https://stackoverflow.com/users/2797999/langkilde" target="_blank">Stack Overflow - langkilde</a>
        </li>
    </ul>
</div>

{% endblock %}