{% extends "base.html" %}

{% block content %}

    <div class="post post-content">
        <p></p>
        <img src="https://storage.googleapis.com/langkilde-se-images/langkilde.jpg" alt="Daniel Langkilde">
        <h1>Daniel Langkilde</h1>
        <p>In my heart, I’m a programmer. By training, I’m a mathematician. And I’m a manager of high-tech companies by
            profession. My most significant competitive advantage is that I am relentlessly hardworking, addicted to
            learning, and profoundly optimistic.</p>
        <h2>Professional Bio</h2>
        <p>
            Daniel Langkilde is an experienced entrepreneur and machine learning expert. He started his career as
            Team Lead for Collection & Analysis at <a href="https://www.recordedfuture.com/" target="_blank">Recorded
            Future</a>. Since 2018 he is co-founder and CEO of Kognic. Kognic provides the most productive annotation
            platform for sensor-fusion data. Daniel earned his M.Sc. in Engineering Mathematics at Chalmers University
            of Technology, where he also served as President of the Student Union and a Member of the Board of
            Directors. He has been a Visiting Scholar at both MIT and UC Berkeley.
        </p>
        <h2>Personal</h2>
        <p>I share my life with Louise and my son Isak. We live in <a
                href="https://visitsweden.com/where-to-go/southern-sweden/goteborg/things-do-gothenburg/"
                target="_blank">Göteborg, Sweden</a>. I’ve previously lived in San Francisco, Shanghai, and Boston. I’m
            fluent in Swedish and English and speak basic Mandarin. I enjoy cooking, photography, running, and coding.
        </p>
        <h2>Find me here</h2>
        <ul>
            <li><a href="https://linkedin.com/in/daniellangkilde" target="_blank">LinkedIn - daniellangkilde</a></li>
            <li><a href="https://github.com/dlangk" target="_blank">GitHub - dlangk</a></li>
        </ul>
    </div>

{% endblock %}