{% extends "base.html" %}

{% block content %}

    <div class="post post-content">
        <p>I love talking to founders, learning about new businesses and exploring new technology. When I meet founders
            I'm really impressed by, or technologies I'm really excited by, I occasionally invest. I invest if I think I
            can add value and make money.</p>

        <p><strong>Nyctea.</strong> I invested in Nyctea because I've been consistently impressed by founder and CEO Dr.
            Gustav Ferrand-Drake. Nyctea is on a mission to create affordable medicine by reducing the cost of
            production. Through his research, Gustav has invented a new method of biopharmaceutical purification.
            <a href="https://nycteatechnologies.com/" target="_blank">Link</a></p>

        <p><strong>IntuiCell.</strong> I'm excited by IntuiCells mission to reinvent the way machine learning works.
            It's a bold and crazy ambition. Dr. Henrik Jörntell has spent his career understanding the neural basis of
            sensorimotor control. His conclusion is that modern machine learning is based on a long-since outdated
            understanding of the brain. <a href="https://intuicell.com/" target="_blank">Link</a></p>


    </div>

{% endblock %}