{% extends "base.html" %}

{% block content %}

<div class="post post-content">
    <h1>Memes</h1>
    <blockquote>
        <p>A meme is an idea, behavior, or style that spreads by means of imitation from person to person within a culture
        and often carries symbolic meaning representing a particular phenomenon or theme. A meme acts as a unit for
        carrying cultural ideas, symbols, or practices that can be transmitted from one mind to another through writing,
        speech, gestures, rituals, or other imitable phenomena with a mimicked theme. Memes on my list are copied from
        everywhere, as is the definition of a meme.</p>
    </blockquote>
    {% for meme in memes %}
    <ul class="meme-list">
        <li>{{ meme }}</li>
    </ul>
    {% endfor %}
</div>

{% endblock %}