---
import "../styles/global.css";
import DarkModeToggle from "../components/DarkModeToggle.astro";
import MobileMenu from "../components/MobileMenu.astro";
import Analytics from "../components/Analytics.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <Analytics />
  </head>

  <body>
    <canvas id="canvas-background"></canvas>
    <MobileMenu />
    <DarkModeToggle />
    <div class="layout-container">
      <slot />
    </div>
    <script src="../scripts/main.ts"></script>
  </body>
</html>
